<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cxc.fullscreendemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity" />

        <activity
            android:name=".decoration.RecyclerViewTestActivity"
            android:label="@string/recycler_view_activity_name" />

        <activity
            android:name=".intentFilter.IntentFilterATestActivity"
            android:label="@string/intent_filter_test_a">
            <intent-filter>
                <action android:name="com.example.cxc.intentFilter.testA" />
                <!--Note:此处未声明android.intent.category.DEFAULT-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            </intent-filter>
        </activity>

        <activity
            android:name=".intentFilter.IntentFilterBTestActivity"
            android:label="@string/intent_filter_test_b">
            <intent-filter>
                <action android:name="com.example.cxc.intentFilter.testA" />
                <!--Note:声明android.intent.category.DEFAULT-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--There are other attributes that you can include in the <service> element to define properties
        such as the permissions that are required to start the service
         and the process in which the service should run.
         The android:name attribute is the only required attribute—it specifies the class name of the service. -->
        <!--You can ensure that your service is available to only your app
        by including the android:exported attribute and setting it to false.
         This effectively stops other apps from starting your service, even when using an explicit intent.-->
        <!--Note: Users can see what services are running on their device.
        If they see a service that they don't recognize or trust, they can stop the service.
        In order to avoid having your service stopped accidentally by users,
        you need to add the android:description attribute to the <service> element in your app manifest.
         In the description, provide a short sentence explaining what the service does and what benefits it provides.-->
        <service
            android:name=".service.HelloService"
            android:description="@string/service_test_description"
            android:exported="false" />

        <service
            android:name=".service.HelloIntentService"
            android:description="@string/intent_service_test_description"
            android:exported="false" />

        <activity
            android:name=".service.ServiceTestActivity"
            android:label="@string/service_test_activity_name" />

        <service
            android:name=".service.HelloBoundService"
            android:description="@string/service_test_description_2"
            android:exported="false" />


        <activity
            android:name=".draw.DrawTestActivity"
            android:label="@string/draw_test_activity_name" />
    </application>

</manifest>